body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

/* The nav bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;

  /* Change background on mouse-over */
  .navbar a-hover {
    background: #ddd;
    color: black;
  }
}
/* This is the Tap&Fix paragraph. Should we change this? */
.aboutP {
  font-size: 1.6em;
}

/* This may changed to a smaller text */
#slogan {
  font-size: 3em;
}

.main {
  /* Add a top margin to avoid content overlay */
  margin-top: 30px;
}
/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Email edit */
.email {
  font: bold;
  color: black;
  text-align: center;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #17468d;
  color: whitesmoke;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container img {
  width: 100%;
  height: auto;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
